
#pin2ucf - Sat Nov 20 20:40:56 2021
#The following constraints were newly added
NET "clk" LOC = T8;
NET "rst_n" LOC = L3;
NET "led<0>" LOC = P4;
NET "led<1>" LOC = N5;
NET "led<2>" LOC = P5;
NET "led<3>" LOC = M6;
